<style>
p{
  text-align: center;
}


</style>


{%extends "base.html" %}
{% load static%}

{% block content %}
{{ block.super}}
  
  {%for prof in profile%}                                                                                                       <h1>{{ prof.username }} </h1>
{%if prof.photo%}
<div class="container">
  
      <img class="img-circle center-block" src="{{ prof.photo.url }}" width = "200" height = "200"  />
{%endif%}
      
  <p>{{ prof.bio }}</p>
  <p>{{ prof.user }}</p>     
  {%endfor%}
</div>
</div>

  {%endblock%}