{%extends 'base.html'%}

{% block content %}
{{bock.super}}
<div class="container" style="padding:20px;margin-left:350px">      
{% for pics in image_pics%}

<div class="card" style="width:450px;">
   <div class="card-block">
        <span class="header"><img src="static/images/icon2.png" class="img-circle" alt="Cinque Terre" height="auto" width="50" align="left"><p>{{pics.user.username}}</p></span>
        <img class="card-img-top" src="{{pics.image.url}}" alt="Card image cap">
        <p>{{pics.image_name}}</p>
        <p>{{pics.Comments}}</p>
        <img src="{{pics.profile_pics.photo.urls}}" alt="">
       <div class="header">
         <div class="row">
        <span> <a href="#"><i class="fa fa-heart-o"></i></a></span>
        <span> <a href="{% url 'comment'  id=pics.pk %}"><i class="fa fa-comment-o"></i></a></span>
        </div>
       </div>
       <div class="comments">
       {% for comment in pics.comments.all %}
         <p><strong>{{comment.user}}</strong> {{comment.Comments}}</p>
      </div>
         </div>
       {% endfor %}
    </div>
 {%endfor%}
{% endblock %}